* {
  padding: 0%;
  margin: 0%;
  border: 0%;
  box-sizing: border-box;
  font-family: Roboto;
}

body{
    min-height: 100vh;
}

header {
  text-transform: uppercase;
  background-color: black;
  color: #f4b74b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

/* background-color: #ffffe0; */

main {
  overflow: hidden;
  background-color: #3b3838;
}

.main_banner {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 2s move2;
  padding: 20px;

}

.lista_link {
  display: flex;
}

.lii {
  list-style-type: none;
  margin: 15px;
}

.lii a {
  color: white;
  text-decoration: none;
}

.lii:hover a {
  color: #f4b74b;
  border-bottom: 2px solid #f4b74b;
}

.list_redes {
  list-style: none;
  color: white;
  display: flex;
  gap: 50px;
}

.div_sociais {
  margin-right: 100px;
}

.logo {
  animation: 2s move;
}

@keyframes move {
  from {
    transform: translateX(-100px);
    opacity: 0.2;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes move2 {
  from {
    transform: translateX(500px);
    opacity: 0.2;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.div_footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    flex-direction: row;
}

.p_loc{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.loc{
    text-align: center;
    text-transform: uppercase;
    
}


.img_main{
    margin-right: 70px;
}

.card{
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  margin-top: 150px;
  flex-wrap: wrap;
  gap: 10px;
}

.img_cards{
    text-align: center;
    display: block;
    
}

.card_1{
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  box-shadow: inset -2px 3px 11px -1px rgb(0 0 0);
  width: 49%;
}

.line_ITB{
  text-align: center;
  display: block;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.maps{
  margin-top: 20px;
}

.combo_h{
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.combo_p{
    white-space: pre-line;
    color: white;
}
